body{
    height: 140vh;
}

.conteudo{
    padding: 0px 10px 0px 10px;
    margin: 0px 1rem;
}

.conteudo h2{
    text-align: center;  
    margin-top: 4rem;
    margin-bottom: 2rem;
}

b{
    font-size: 20px;
    margin: 3rem 0rem;
}

p{
    font-size: 17px;
    text-align: justify;
    line-height: 1.5;
}