*{
    margin: 0;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(16, 150, 105);
    padding: 2rem 1rem;
    color:aliceblue;
}
main{
    background-color: white;
    text-align: justify;
}
h2{
    text-align: center;
    margin: 2.8rem;
}
img{
    max-width: 1000px;
    min-width: 320px;
}